
SQL Question: union and union all

table 1

ename,city,salary

table 2

ename,city,salary,country

Syntax:

select ename, city, salary from table_1
union
select ename, city, salary from table_2

Answer: It will throw error as both tables should have equal number of columns

Diff:

table 1:

Ram, NY, 10000
Harry, LA, 20000

table 2:

Ram, NY, 10000
Shyam, Mumbai, 30000
Harry, LA, 20000

select * from table 1 
union all
select * from table 2

Ram, NY, 10000
Harry, LA, 20000
Ram, NY, 10000
Shyam, Mumbai, 30000
Harry, LA, 20000

select * from table 1 
union 
select * from table 2

Ram, NY, 10000
Harry, LA, 20000
Shyam, Mumbai, 30000
Harry, LA, 20000

In [0]:
%sql
 create table t1 (ename varchar(50),cityname varchar(70),salary int)

In [0]:
%sql
 create table t2 (ename varchar(50),cityname varchar(70),salary int,country varchar(80))

In [0]:
%sql
insert into t1 values ('Ram','NY',10000),('Harry','LA',20000)

num_affected_rows,num_inserted_rows
2,2

In [0]:
%sql
insert into t2 values ('Ram','NY',10000,'USA'),('Shyam','Mumbai',30000,'India'),('Harry','LA',20000,'USA')

num_affected_rows,num_inserted_rows
3,3

In [0]:
%sql
select ename,cityname,salary from t1
union 
select ename,cityname,salary from t2

ename,cityname,salary
Ram,NY,10000
Harry,LA,20000
Shyam,Mumbai,30000

In [0]:
%sql
select ename,cityname,salary from t1
union all
select ename,cityname,salary from t2

ename,cityname,salary
Ram,NY,10000
Harry,LA,20000
Ram,NY,10000
Shyam,Mumbai,30000
Harry,LA,20000

In [0]:
%sql
delete from t1 where ename ='Ram'

num_affected_rows
1

In [0]:
%sql
select * from t1

ename,cityname,salary
Harry,LA,20000

In [0]:
%sql
truncate table t1

In [0]:
%sql
select * from t1

In [0]:
%sql
drop table t1

In [0]:
%sql
select * from t2

ename,cityname,salary,country
Ram,NY,10000,USA
Shyam,Mumbai,30000,India
Harry,LA,20000,USA

In [0]:
%sql
insert into t2 values ('Ram','NY',10000,'USA')

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
insert into t2 values ('Harry','LA',20000,'USA')

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from t2

ename,cityname,salary,country
Ram,NY,10000,USA
Shyam,Mumbai,30000,India
Harry,LA,20000,USA
Harry,LA,20000,USA
Ram,NY,10000,USA

In [0]:
%sql
select ename,cityname,count(*)
from t2
group by ename,cityname

ename,cityname,count(1)
Shyam,Mumbai,1
Ram,NY,2
Harry,LA,2

In [0]:
%sql
select ename,cityname,count(*)
from t2
group by ename,cityname
having count(*) > 1;

ename,cityname,count(1)
Ram,NY,2
Harry,LA,2

In [0]:
%sql
select * from t2

ename,cityname,salary,country
Ram,NY,10000,USA
Shyam,Mumbai,30000,India
Harry,LA,20000,USA
Harry,LA,20000,USA
Ram,NY,10000,USA


Show the second higher salary of the employee

In [0]:
%sql
 
select distinct(*) from t2 where salary in(
select max(salary)
from t2
where salary < (select max(salary) from t2))

ename,cityname,salary,country
Harry,LA,20000,USA


Write a query to find all emloyees in a department with more than 5 employees

In [0]:
%sql
select ename from t2
group by ename 
having count(*) > 1

ename
Ram
Harry


Joins

InnerJoin
Left Join
Right Join
Full Outer
Anti
Semi anti Join

In [0]:
%sql
create table t3 (id int)

In [0]:
%sql
create table t4 (id int)

In [0]:
%sql
insert into t3 values (6)

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from t3

id
1
1
2
4
6

In [0]:
%sql
insert into t4 values (1)

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from t4

id
6
3
1

In [0]:
%sql
select t1.*,t2.* from t3 t1 join t4 t2 on t1.id = t2.id

id,id
1,1
1,1
6,6

In [0]:
--Inner Join  - Matching Records from both tables

--for 1: 2*2=4
--for 6: 2*1=2

--For Left Join

--Inner Join + non matching record from t3

--For Right Join

--Inner Join + non matching record from t4

--For Full Join

--Inner Join + non matching record from t4 and t3

In [0]:
%sql
select t1.*,t2.* from t3 t1 left join t4 t2 on t1.id = t2.id

id,id
1,1
1,1
2,null
4,null
6,6

In [0]:
%sql
select t1.*,t2.* from t3 t1 right join t4 t2 on t1.id = t2.id

id,id
6,6
null,3
1,1
1,1

In [0]:
%sql
select t1.*,t2.* from t3 t1 full join t4 t2 on t1.id = t2.id

id,id
1,1
1,1
2,null
null,3
4,null
6,6


Views are nothing but query, 
It is created on top of some table.

Table t1: SSN, PHI

View

create view view_name  as (
  select a,b,c from table t1
)

select * from view_name

In [0]:
%sql
create table employees1(
  employee_id int ,
  name varchar(50),
  department varchar(50),
  salary decimal(10,2),
  hire_date date
);

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3504430010351885>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-3504430010351885>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("Y3JlYXRlIHRhYmxlIGVtcGxveWVlcygKICBlbXBsb3llZV9pZCBpbnQgLAogIG5hbWUgdmFyY2hhcig1MCksCiAgZGVwYXJ0bWVudCB2YXJjaGFyKDUwKSwKICBzYWxhcnkgZGVjaW1hbCgxMCwyKSwKICBoaXJlX2RhdGUgZGF0ZQop").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `default`.`employees1` because it already exists.
Choose a different name, drop or replace the existing object, add the IF NOT EXISTS clause to tolerate pre-existing objects, or add the OR REFRESH clause to refresh the existing streaming table.

In [0]:
%sql
insert into employees1(employee_id,name,department,salary,hire_date) values (1,'Alice','Sales',50000,'2021-02-15'),(2,'Bob','IT',60000,'2020-06-23'),(3,'Charlie','Sales',55000,'2022-01-14'),(4,'David','HR',45000,'2019-08-12'),(5,'Emma','IT',62000,'2021-09-25');

num_affected_rows,num_inserted_rows
5,5

In [0]:
#Employees who joined aftyer 2020 and fetch only emp_id,name, department

In [0]:
%sql
select employee_id,name,department from employees1 
  where hire_date >= '2020'

employee_id,name,department
1,Alice,Sales
2,Bob,IT
3,Charlie,Sales
5,Emma,IT
1,Alice,Sales
2,Bob,IT
3,Charlie,Sales
5,Emma,IT

In [0]:
%sql
create view business_req4 as (
  select employee_id,name,department from employees1 
  where hire_date >= '2020' and department ='IT'
)

In [0]:
%sql
select * from business_req4

employee_id,name,department
2,Bob,IT
5,Emma,IT
2,Bob,IT
5,Emma,IT


materialized view are created first execution will take much time since it stores data in memory

In [0]:
%sql
create materialized view business_req5 as (
  select employee_id,name,department from employees1 
  where hire_date >= '2020' and department ='IT'
)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3504430010351891>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-3504430010351891>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("Y3JlYXRlIG1hdGVyaWFsaXplZCB2aWV3IGJ1c2luZXNzX3JlcTUgYXMgKAogIHNlbGVjdCBlbXBsb3llZV9pZCxuYW1lLGRlcGFydG1lbnQgZnJvbSBlbXBsb3llZXMxIAogIHdoZXJlIGhpcmVfZGF0ZSA+PSAnMjAyMCcgYW5kIGRlcGFydG1lbnQgPSdJVCcKKQ==").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Materialized view is only supported with Unity Catalog enabled workspace.

In [0]:
%sql
CREATE TABLE Sales (     Salesperson VARCHAR(50),     Region VARCHAR(20), Revenue INT );

In [0]:
%sql
INSERT INTO Sales (Salesperson, Region, Revenue) VALUES('Alice', 'North', 300), ('Bob', 'North', 300), ('Charlie', 'South', 200), ('David', 'North', 300), ('Eve', 'South', 400), ('Frank', 'East', 400), ('Grace', 'West', 500);

num_affected_rows,num_inserted_rows
7,7

In [0]:
%sql
select * from Sales

Salesperson,Region,Revenue
Alice,North,300
Bob,North,300
Charlie,South,200
David,North,300
Eve,South,400
Frank,East,400
Grace,West,500

In [0]:
%sql
select * from employees1

employee_id,name,department,salary,hire_date
1,Alice,Sales,50000.00,2021-02-15
2,Bob,IT,60000.00,2020-06-23
3,Charlie,Sales,55000.00,2022-01-14
4,David,HR,45000.00,2019-08-12
5,Emma,IT,62000.00,2021-09-25
1,Alice,Sales,50000.00,2021-02-15
2,Bob,IT,60000.00,2020-06-23
3,Charlie,Sales,55000.00,2022-01-14
4,David,HR,45000.00,2019-08-12
5,Emma,IT,62000.00,2021-09-25

In [0]:
%sql
with satish as(
  select employee_id,name,department from employees1 
  
),
satish_new as (
  select employee_id,name,department from employees1 
  
)
 select s1.*,s2.* from satish s1 join satish_new s2 on s1.employee_id=s2.employee_id

employee_id,name,department,employee_id,name,department
1,Alice,Sales,1,Alice,Sales
1,Alice,Sales,1,Alice,Sales
2,Bob,IT,2,Bob,IT
2,Bob,IT,2,Bob,IT
3,Charlie,Sales,3,Charlie,Sales
3,Charlie,Sales,3,Charlie,Sales
4,David,HR,4,David,HR
4,David,HR,4,David,HR
5,Emma,IT,5,Emma,IT
5,Emma,IT,5,Emma,IT
1,Alice,Sales,1,Alice,Sales
1,Alice,Sales,1,Alice,Sales
2,Bob,IT,2,Bob,IT
2,Bob,IT,2,Bob,IT
3,Charlie,Sales,3,Charlie,Sales
3,Charlie,Sales,3,Charlie,Sales
4,David,HR,4,David,HR
4,David,HR,4,David,HR
5,Emma,IT,5,Emma,IT
5,Emma,IT,5,Emma,IT

In [0]:
%sql
select * from Sales

Salesperson,Region,Revenue
Alice,North,300
Bob,North,300
Charlie,South,200
David,North,300
Eve,South,400
Frank,East,400
Grace,West,500


Window Function in SQL

Row_number()
rank()
dense_rank()

over()
partition by

Syntax:
select *, row number() over(partition by column order by column name) as rn from Sales

In [0]:
%sql
select*, dense_rank() over (order by revenue desc) as rn ,
rank() over (order by revenue desc) as rankn,
row_number() over (order by revenue desc) as ron from Sales
--Row_number - Assigns the value incrementally in same sequence
--Rank - If number is not appended incrementally 
--Dense_rank - It is apppended incrementally 
--In production, we use dense_rank as it helps us to clear duplicate records and also remember it goes in incremental order and rank skips the cells if it has duplicate records and gives the row number for the new record

Salesperson,Region,Revenue,rn,rankn,ron
Grace,West,500,1,1,1
Eve,South,400,2,2,2
Frank,East,400,2,2,3
Alice,North,300,3,4,4
Bob,North,300,3,4,5
David,North,300,3,4,6
Charlie,South,200,4,7,7

I want salesperson from south region with highest revenue

In [0]:
%sql
select*, row_number() over (partition by region order by revenue desc) as rn ,
rank() over (partition by region order by revenue desc) as rankn,
dense_rank() over (partition by region order by revenue desc) as ron from Sales

--partition ma xai maile tesko under ma xai rank,row_number ani dense_rank ko overview hunxa

Salesperson,Region,Revenue,rn,rankn,ron
Frank,East,400,1,1,1
Alice,North,300,1,1,1
Bob,North,300,2,1,1
David,North,300,3,1,1
Eve,South,400,1,1,1
Charlie,South,200,2,2,2
Grace,West,500,1,1,1

In [0]:
%sql
with cte as (select*, row_number() over (partition by region order by revenue desc) as rn ,
rank() over (partition by region order by revenue desc) as rankn,
dense_rank() over (partition by region order by revenue desc) as ron from Sales)
select * from cte where cte.region = 'South' and cte.rn=1

Salesperson,Region,Revenue,rn,rankn,ron
Eve,South,400,1,1,1


Interview Question: diff between coalesce and isnull?

Answer: **`ISNULL`**: Takes two arguments, specific to SQL Server, and returns the replacement value if the first is `NULL`.

**`COALESCE`**: Can take multiple arguments, is standard SQL, and returns the first non-`NULL` value from the list.

Use **`ISNULL`** for simple, SQL Server-specific cases; use **`COALESCE`** for multiple checks or cross-database compatibility.