In [0]:
%sql
create table emp2 (EmployeeID INT , Name VARCHAR(50), Department VARCHAR(50), Salary DECIMAL(10, 2) );

In [0]:
%sql
INSERT INTO emp2 (EmployeeID, Name, Department, Salary)VALUES (1, 'Alice', 'HR', 50000), (2, 'Bob', 'IT', 60000), (3, 'Alice', 'HR', 50000), (4, 'Charlie', 'IT', 70000);

num_affected_rows,num_inserted_rows
4,4

Remove the duplicate records

In [0]:
%sql
select name,department,salary,count(*) from emp2
group by all
having count(*)>1

name,department,salary,count(1)
Alice,HR,50000.00,2

In [0]:
%sql
select *, row_number() over (partition by name, department, Salary order by Salary desc) as rn from emp2

EmployeeID,Name,Department,Salary,rn
1,Alice,HR,50000.00,1
3,Alice,HR,50000.00,2
2,Bob,IT,60000.00,1
4,Charlie,IT,70000.00,1

In [0]:
%sql
with cte as (
    select *, row_number() over (partition by name, department, Salary order by Salary desc) as rn from emp2
) select * from cte

EmployeeID,Name,Department,Salary,rn
1,Alice,HR,50000.00,1
3,Alice,HR,50000.00,2
2,Bob,IT,60000.00,1
4,Charlie,IT,70000.00,1

In [0]:
%sql
with CTE as (
    SELECT
        EmployeeID,
        ROW_NUMBER() OVER (PARTITION BY Name, Department, Salary ORDER BY EmployeeID) AS rw
    FROM emp2
)
DELETE FROM emp2
WHERE EmployeeID IN (
    SELECT EmployeeID
    FROM CTE
    WHERE rw > 1
);

num_affected_rows
1

Show all the square of elements from the list

In [0]:
list_1 = [3, 4, 5, 6, 7, 8, 9, 2]
list_2 = [x**2 for x in list_1]

print("Original list:", list_1)
print("Squared list:", list_2)

Original list: [3, 4, 5, 6, 7, 8, 9, 2]
Squared list: [9, 16, 25, 36, 49, 64, 81, 4]